.main-header {
    background-color: #77bfa3;
    margin-bottom: 20px;
    height: 130px;
}

.main-header {
    display: grid;
    grid-template-columns:
    minmax(1.25rem, 1fr) minmax(auto, 1020px) minmax(1.25rem, 1fr);
}

.main-header .main-menu a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #00798c;
}

.logo {
    font-size: 2rem;
    font-family: gajraj;
    color: #00798c;
    cursor: pointer;
}

.main-header .main-menu > * a:hover, .logo:hover{
    color: #21626c;
}
